--constraint constraints-airflow.txt
beautifulsoup4
black
dlt
dlt[bigquery]
gcsfs
google-cloud-storage
google-cloud-bigquery-storage
matplotlib
matplotlib-inline
numpy
pandas-gbq
pandas-stubs
pandas
psycopg2-binary
pyarrow
requests
s3fs
seaborn
SQLAlchemy
html5lib
jupyter-black