
services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile-Jupyter
    container_name: jupyter
    restart: unless-stopped
    environment:
      - JUPYTER_ENABLE_LAB=yes
    ports:
      - "8888:8888"  # Jupyter
      - "5000:5000"  
    volumes:
      - jupyter_data:/home/jovyan/work
    command: start-notebook.sh --NotebookApp.token=''

  postgres:
    image: postgres:17.4-bookworm
    container_name: postgres
    restart: always
    environment:
      PGUSER: ${POSTGRES_USER}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: 
        [
          "CMD-SHELL", 
          "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" 
        ]
      interval: 5s                             
      timeout: 5s                              
      retries: 5   

  pgadmin:
    image: dpage/pgadmin4@sha256:bdebdfc4b165c10d0ad60e58f1d7ef41af6c881c9556ae331adaa35bba6dacf3 #dpage/pgadmin4:latest 03.07.2025
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    expose:
      - 80
    ports: 
      - "8080:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_healthy

  # airflow_webserver:
  #   #image: apache/airflow:2.5.1
  #   build:
  #     context: .
  #     dockerfile: Dockerfile-Airflow
  #   container_name: airflow_webserver
  #   restart: unless-stopped
  #   environment:
  #     AIRFLOW__CORE__EXECUTOR: LocalExecutor
  #     AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
  #     AIRFLOW__WEBSERVER__SECRET_KEY: ${AIRFLOW__WEBSERVER__SECRET_KEY}
  #   ports:
  #     - "8081:8080"
  #   volumes:
  #     - airflow_data:/opt/airflow
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  # # docker exec -it airflow_webserver airflow db init
  #   command: ["webserver"]

  # airflow_scheduler:
  #   #image: apache/airflow:2.5.1
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile-Airflow
  #   container_name: airflow_scheduler
  #   restart: always
  #   environment:
  #     AIRFLOW__CORE__EXECUTOR: LocalExecutor
  #     AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: ${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
  #     AIRFLOW__WEBSERVER__SECRET_KEY: ${AIRFLOW__WEBSERVER__SECRET_KEY}
  #   ports:
  #     - "8793:8793"
  #   volumes:
  #     - airflow_data:/opt/airflow
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   command: ["scheduler"]


volumes:
  postgres_data:
  pgadmin_data:
  jupyter_data:
  # airflow_data:

